@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Home";
}

<h2 class="mb-3">Xin chào Student!</h2>
<p>Đây là nội dung test hiển thị trong <b>Student Layout</b>.</p>

<div class="card p-3 shadow">
    <h5>Thông báo</h5>
    <ul>
        <li>Bạn có 2 bài tập cần nộp</li>
        <li>1 lớp học mới vừa được thêm</li>
    </ul>
</div>
