@* <div class="text-center">
    <h2 class="text-primary">@ViewBag.ErrorTitle</h2>
    <img src="~/img/ProductImg/email.png" style="height:300px; width:300px; margin: 20px;" />
</div> *@
<div class="col-md-12 text-center" style="margin: 100px 0">
    <span class=" display-3 text-secondary mb-4">
        <i class="fa fa-check-circle-o fa-lg text-success"></i>
    </span>
    <h2 class="display-3 text-black">@ViewBag.ErrorTitle</h2>
</div>